body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  color: #008be8;
  text-align: center;
}

h2 {
  color: #008be8;
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.logo img {
  height: 40px;
  width: auto;
}

table{
  width: 100%;
  background-color: lightgrey;
  text-align: center;
}

table a{
  color: black;
  font-size: 1.5em;
  text-decoration: none;
  cursor: pointer;
  
}

footer{
  text-align: center;
}

footer a {
  text-decoration: none;
}

p{
  text-align: center;
}

.image-table{
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.image-cell{
  text-align: center;
  padding: 10px;
  vertical-align: top;
}

.image {
  width: 400px; /* Set a fixed width for all images */
  height: 400px; /* Set a fixed height for all images */
  object-fit: cover; /* Ensures the image is cropped to fit within the dimensions without distorting it */
  display: block;
  margin: 0 auto; /* Center the image */
}

.description{
  margin-top: 10px;
  font-size: 14px; /* Adjust the size of the description */
  color: #178884; /* Color for the text */
  line-height: 1.5;
  text-align: center; /* Center the description */
}

.yoga img{
  width: 400px; /* Set a fixed width for all images */
  height: auto;
  object-fit: cover;/* Ensures the image is cropped to fit within the dimensions without distorting it */
  display: block;
  margin: 0 auto; /* Center the image */
}

.gala img{
  width: 400px; /* Set a fixed width for all images */
  height: auto;
  object-fit: cover;/* Ensures the image is cropped to fit within the dimensions without distorting it */
  display: block;
  margin: 0 auto; /* Center the image */
}

.event-container {
  display: flex;
}

.form{
  display: flex;
  justify-content: center;
  background-color: #178884;
}

.location {
  text-align: center;
}

.banner img {
  width: 1800px;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}



